/**
 * @name sammyrun
 * @version 8.0
 * @description A simple but highly customizable theme, now sugar free!
 * @author Spectra
 * @invite PZdnCVD
 * @source https://github.com/xcruxiex/themes
 * @website https://betterdiscord.app/theme/Neutron
 * @BDEditor Neutron
*/

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@100;300;400;500;700&display=swap');
@import url('https://xcruxiex.github.io/themes/themes-cores/neutron8.css');

:root {
  --backgroundImage: url('https://i.imgur.com/OXmU7sx.png');
  --backgroundColor: #0d0d0d;
  --backgroundSize: cover;
  --backgroundPosition: center;
  --backgroundRepeat: no-repeat;
  --backgroundBlur: 3px;
  --backgroundOpacity: 0.4;
  --homeImage: url('https://i.imgur.com/LSCFaya.jpg');
  --homeImageSize: cover;
  --themeColor1: #F84C00;
  --themeColor2: #069500;
  --customFont: Tektur;
  --backgroundCode: rgb(248,76,0,0.27);
  --backgroundName: rgb(5,130,0,0.62);
}

/* Any custom CSS below here */


